---
import Form from "../components/Form.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Adquirir un servicio">
    <main class="grid justify-center items-center h-full w-[80vw] my-6 m-auto">
        <div class="w-[500px]">
            <Form/>
        </div>
    </main>
</Layout>