<a
  {...Astro.props}
  rel="noopener noreferrer"
  role="link"
  class="flex items-center gap-4 bg-[var(--clr-one)] p-2 text-[var(--clr-three)] rounded-lg opacity-85 w-auto justify-center"
>
  <slot />
</a>
