---
import LinkedIn from "../icons/LinkedIn.astro";
import Mail from "../icons/Mail.astro";
import SocialPill from "./SocialPill.astro";
---

<footer class="w-full py-[1rem] border-t-2 border-[var(--clr-four)] flex justify-between">
    <span class="text-sm text-[var(--clr-four)] font-['Lato', ui-serif] font-medium">©2024 Ximena Troncoso. Todos los derechos reservados.</span>
    <div class="flex gap-2">
        <SocialPill href="mailto:marlonmogollon13@gmail.com">
            <Mail class="size-5"/>
        </SocialPill>
        <SocialPill href="http://www.linkedin.com/in/ximena-troncoso-garcia-25307021">
            <LinkedIn class="size-5"/>
        </SocialPill>
    </div>
</footer>