---
import Send from "../icons/Send.astro";
import Buttom from "./Buttom.astro";
---

<div>
  
  <script type="text/javascript" src="https://opnform.com/widgets/iframeResize.min.js"></script>
  <iframe style="border:none;width:100%;" id="form-comunicate-con-nosotros-hpera2" src="https://opnform.com/forms/comunicate-con-nosotros-hpera2"></iframe>
  <script type="text/javascript">iFrameResize({log: false, checkOrigin: false}, "#form-comunicate-con-nosotros-hpera2");</script>

</div>
